.style-dele {
    color: black;
    font-weight: bolder;
    font-size: 35px !important;
}

.capitalize {
    text-transform: uppercase !important;
}

.color-black {
    color: black !important;
}

.color-red {
    color: red !important;
}

.display-none{
    display: none !important;
}